alabaster==1.0.0
babel==2.18.0
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.0
docutils==0.22.4
furo==2025.12.19
idna==3.19
imagesize==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
myst-parser==5.1.0
packaging==26.3
Pygments==2.20.0
railroad-diagrams==3.0.1
requests==2.34.2
snowballstemmer==3.1.1
soupsieve==2.9.2
sphinx==9.1.0
sphinx-basic-ng==1.0.0b2
sphinx-design==0.7.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
tomli==2.4.1
urllib3==2.7.0
